<div id="header">
<h1>Sentences Commentary Text Archive</h1>
  <ul class="nav nav-tabs">
    <li><a href="/">Home</a></li>
    <li><a href="/search">Search</a></li>
    <li><a href="/resource/scta">Commentaries in the Archive</a></li>
    <li><a href="/api">Documentation/API</a></li>
  </ul>

</div>
