<div id="body">
  <div>
    <h2>About</h2>
    <div>
      <h3>Editorial Board</h3>
      <ul>
        <li>General Editor, <a href="http://jeffreycwitt.com" target="_blank">Jeffrey C. Witt</a> (Loyola University of Maryland)</li>
        <li>Aristotelian Commentaries, Michael Stenskjær Christensen (University of Copenhagen)
          <ul>
            <li>Metaphysics Commentaries, Luciana Cioco (Babeș-Bolyai University, Cluj Napoca, Romania)
          </ul>
        </li>
        <li>Sentences Commentaries, <a href="https://ueli.zahnd.be/" target="_blank">Ueli Zahnd</a> (University of Basel)</li>
        <li>Biblical Commentaries, Andrew Dunning (British Library)</li>
        <li>Logical Commentaries, Nicolas Vaughan (University of los Andes)</li>
        <li>Quodlibetal Questions, John T. Slotemaker (Fairfield University)</li>
        <li>Canon Law, Rowan Dorin (Stanford University)</li>
        <li>Florilegia, <a href="https://www.chrisnighman.com/" target="_blank">Chris Nighman</a> (Wilfrid Laurier University)
      </ul>
    </div>
    <div>
      <h3>Technical Editors</h3>
      <ul>
        <li>Jeffrey C. Witt</li>
        <li>Michael Stenskjær Christensen</li>
        <li>Ueli Zahnd</li>
        <li>Nicolas Vaughan</li>
      </ul>
    </div>
    <div>
      <h3>Advisory Board</h3>
      <ul>
        <li>Monica Brinzei (Institut de recherche et d'histoire des textes)</li>
        <li>Pascale Bermon (Laboratoire d’Études sur les Monothéismes)</li>
        <li>Samuel Huskey (University of Oklahoma)</li>
        <li>Jose Merinhos (University of Porto)</li>
        <li>Marc Ozilou (ICP/Paris IV-Sorbonne)</li>
        <li>Dot Porter (University of Pennsylvania)</li>
        <li>Lydia Schumacher (Kings College London)</li>
        <li>José Filipe Pereira da Silva (University of Helsinki)</li>
        <li>Matthew Treskon (Technology Librarian, Loyola Notre Dame Library)</li>
      </ul>

    </div>
    <div>
      <h3>Contact</h3>
      <p>Please send questions or comments to jcwitt [at] loyola [dot] edu</p>
    </div>
    <p>The SCTA is currently hosted at Loyola University of Maryland.</p>

  </div>
