<div id="body">
  <div>
    <h2>About</h2>
    <div>
      <h3>Editorial Board</h3>
    </div>
    <div>
      <h3>Technical Editors</h3>
      <ul>
        <li>Jeffrey C. Witt</li>
        <li>Michael Stenskjær Christensen</li>
        <li>Ueli Zahnd</li>
        <li>Nicolas Vaughan</li>
      </ul>
    </div>
    <div>
      <h3>Advisory Board</h3>
    </div>
    <div>
      <h3>Contact</h3>
      <p>Please send questions or comments to jcwitt [at] loyola [dot] edu</p>
    </div>
    <p>The SCTA is currently hosted at Loyola University of Maryland.</p>

  </div>
