
<div id="body">
  <div>
    <h2>The SCTA Community</h2>
    <p>
      The SCTA began as a way to connect highly related data sets pertaining to scholastic research
      separated by silos of traditional publication and research methods.
      The goal is to create a distributed network that allows each research group to preserve
      their automony and independence, while at the same time constructing avenues for collaboration
      and data sharing with other groups. In this way, each research group can enrich the work of other groups
      and in turn be enriched by the growth of the globally connected data set.
    </p>
    <p>
      If you are working on anything related to scholasticism broadly conceived, we invite your contributions.
      Whatever level you are at, whatever you're working on — if you're willing to learn new research methods and
      editing tools -- there is a way for you to contribute.
    </p>
</div>
<div>
  <h2>Community Principles</h3>
  <ul>
    <li>The SCTA is collaborative community.
      <br/>
      <span class="small">
        We believe that a rising tide can lift all boats and that while sometimes it seems faster to go it alone,
      the only way to go far is to go together.
      <span>
    </li>
    <li>The SCTA is an open community.
      <br/>
      <span class="small">
        The SCTA was established to facilitate the open sharing of data. The SCTA is designed to enable the
      use and re-use of data that is the common possession and inheritance of humanity. Data is contributed to
      SCTA in the hopes that it will become the source material for new projects and new investigations. The open
      sharing of data also places a responsibility of the consumer of this data. Consumer's of SCTA, whether
      humans or clients application should make every effort to SCTA attribution data to report the source of their data.
    </span>
    </li>
    <li>The SCTA is respectful and encouraging community.
      <br/>
      <span class="small">
      The SCTA is a community project. It thrives and succeeds through the growth and health of the community.
      The health of this community means that it is place where open discussion and new ideas are continually welcomed.
      It also means the SCTA is a place of support for anyone with a desire to contribute, from whatever point they
      are starting. The SCTA slack channel and discussion board is place for beginners and experts to ask questions
      and share wisdom.
    </span>
  </ul>
</div>
<div>
  <h2>Scta Slack Message Channel</h2>
  <p>Join the slack messaging channel to ask questions and interact with the larger community.</p>
  <p><a href="http://scta-team.slack.com">http://scta-team.slack.com</a><p>
  <p>To join the slack channel, you need an invite. <a href="https://scta-team.signup.team/">Request an invite here</a></p>
</div>
