<div id="body" class="container">
  <style>
  img {
    width: 75%;
    padding: 20px;
    margin: 0 auto;
    vertical-align: inherit;
  }
  img#qrcode{
    width: auto;
    padding: 0px;
  }
  h1{
    text-align: center;
  }
  h1, h2, h3{
    margin-bottom: 20px;

  }
  .large {
    font-size: 22px;
  }
  </style>
  <h1 class="center">Donate to the SCTA</h2>

  <h2>How to Donate</h2>
  <hr/>
  <div class="row">
    <div class="col-sm-6">
      <h3>Donate via Loyola University Maryland</h3>
      <p>The SCTA has a financial sponsorship from Loyola University Maryland, a 501c3 institution.</p>
      <p>
        Anyone can make a tax deductabile donation to Loyola earmarked to support the SCTA. All funds marked for the SCTA will be used directly to support the operating costs of the SCTA and affiliated applications.
      </p>
      <p>
        <a href="https://securelb.imodules.com/s/958/16/giving.aspx?sid=958&gid=1&pgid=4454">
          <button href="">Make A Donation</button>
        </a>
      </p>
      <p>Donors will receive an immediate confirmation from Loyola on receipt of their donation.</p>
    </div>
    <div class="col-sm-6">
      <h3>The SCTA can also accept donations in BitCoin</h3>
      <p>To make a donation to the SCTA via BitCoin please send your funds to the following address:</p>
      <p style="color: green">1Fpmw7JpNnnP9keTH66y4zSUFiS1mW7kxk</p>
      <img id="qrcode" src="/bitcoinqrcode.png"/>
      <p>All donations to this address are earmarked as SCTA funds, and every cent will be used to support the mission of the SCTA</p>
    </div>
  </div>
  <div>
    <h2>Why Donate</h2>
    <hr/>

    <p>Traditional publication sees the preparation of a text as an initial investment that will pay big dividends down the road. While the upfront costs of producing a text might be high, once enough copies of that text have been sold to recoup expenses, the publisher aims to keep selling that book at the same high price to turn their initial investment into a profit.</p>

    <p>This model may be working for publishers, but it is serious obstacle to the advance of research.</p>

    <p>Nothing illustrates the problem more poignantly than the difficulty one encounters in trying to access all or even a small part of the Lectures on the Sentences of Peter Lombard by Gregory of Rimini, an important fourteenth century scholastic theologian and philosopher.</p>

    <p>The modern critical edition was published by Walter De Gruyter in 1981 in six volumes.</p>

    <p>It quickly went out of print, and was for a long time only accessible for high prices in the used book trade. Roughly somewhere between $185 to $224 per volume.</p>

    <img src="http://lombardpress.org/assets/images/Rimini-Book-Prices1.png"/>

    <p>In 2010, they decided to reprint the volume. One would have thought that such a reprint would have made the text more accessible. But while this was nothing more than a reprint — no new content has been added — somehow the text became even more expensive and inaccessible. A single volume costs between $250 and $433 dollars. The first volume costs a whopping $433 dollars for 522 pages. Taken together, averaging $300 a book, that is $1,800 for six volumes.</p>

    <img src="http://lombardpress.org/assets/images/Gregorii_Ariminensis_vol1price.png"/>

    <p>The individual personal use of a small 50 section of Volume 1 costs $42.00</p>

    <img src="http://lombardpress.org/assets/images/rimini_prologe_q1_price.png"/>

    <p>And if someone wanted to use this same section in a class of 10 students, they would have to pay approximately $213.75</p>

    <img src="http://lombardpress.org/assets/images/rimini_prologueq1_coursepack_cost.png"/>

    <p>Today, traditional publication through a for-profit corporation ironically ends up betraying the name “publication.” Rather than making a text more accessible, it actual makes a text more expensive, harder to access, and therefore less public.</p>

    <p>The absurdity becomes fairly clear in a world where it is easier to access the medieval manuscripts of this text or the early modern printings than it is the 1981 edition.</p>

    <p>This is problem that is going to begin to affect scholarship. Individual users cannot afford these volumes and neither can most libraries. This high cost creates an imbalance in scholarship. While the 1981 text is better, many scholars will be forced to consult weaker texts, while those fortunate enough to be at one of the elite global schools will enjoy privileged access to primary source material, further enshrining their elite position, not because of their talent or merit, but because of their privilege.</p>

    <p class="large">But what if our goal wasn't profit? What if our goal was to make the scholastic tradition as widely and freely available as possible, both to those who can pay high prices and those who cannot? In such a case, our goal would be to nothing more than cover the operating costs of making these texts avaialable. On this model every time a text is purchased, its collective cost should go down, and the more texts that are addded to the pool, the costs per text should go down.</p>

    <p class="large">This is the goal of the SCTA and this is the power of your donation. Every donation helps support the operating costs to make these text free and available. Consider how much money you would normally be willing to spend for an edition of a scholastic texts. Now consider what it would mean, if every time you purchased that texts, you were making it cheaper and cheaper for everyone else to access that text. When you make a donation to the SCTA this is precisely what you do.</p>
  </div>
</div>
