<!DOCTYPE html>
<html>
<head><title>SCTA</title></head>
<link rel="stylesheet" type="text/css" href="/stylesheets/global.css">
<body>
<%= erb :_header %>
<div id="body">
	<h2>What is the Sentences Commentary Archive?</h2>
<p></p>

</div>
</body>
</html>