<!DOCTYPE html>
<html>
<head><title>SCTA Search</title></head>
<body>
<h1>SCTA Search</h1>
<form method="get" action="/searchresults">
	<input type="radio" name="category" value="quotation">Quotation</input></br>
	<input type="radio" name="category" value="item">Item</input></br>
	<input type="radio" name="category" value="commentary">Commentary</input></br>
	<input type="radio" name="category" value="name">Name</input></br>
	<input type="radio" name="category" value="work">Work</input></br>
	<input type="radio" name="category" value="book">Book</input></br>
	<input type="radio" name="category" value="distinction">Distinction</input></br>
	<input type="text" name="search" placeholder="type search text here"/>
	<input type="submit"/>
</form>
</body>
</html>