<div id="body">
<h1>SCTA Search</h1>
<p>Search for a resource of the selected type whose title contains the search term(s)</p>
 <p>* For example to search a quotation used in a commentary or text that contains the word "fides", select "quotation" and the search for "fides"</p>
<form method="get" action="/searchresults">
  <div class="radio">
    <label class="radio-inline">
        <input type="radio" id="category" name="category" value="quotation">Quotation</input>
    </label>
    <label class="radio-inline">
	    <input type="radio" id="category" name="category" value="item">Item</input>
    </label>
    <label class="radio-inline">
      <input type="radio" id="category" name="category" value="questionTitle">Question Title</input>
    </label>
    <label class="radio-inline">
	<input type="radio" id="category" name="category" value="commentarius">Commentary</input>
    </label>
    <label class="radio-inline">
	<input type="radio" id="category" name="category" value="person">Name</input>
    </label>
    <label class="radio-inline">
	<input type="radio" id="category" name="category" value="work">Work</input>
    </label>
    <label class="radio-inline">
	<input type="radio" id="category" name="category" value="librum">Book</input>
    </label>
    <label class="radio-inline">
	<input type="radio" id="category" name="category" value="distinctio">Distinction</input>
    </label>
  </div>
  <input type="text" name="search" placeholder="type search text here"/>
  <br/>
	<input type="submit"/>

</form>
<p>Or Perform custom SPARQL Query</p>
 <form method="post" action="/sparqlquery">
	<textarea name="query" style="width: 400px; height: 200px;">
      PREFIX owl: <http://www.w3.org/2002/07/owl#>
PREFIX dbpedia: <http://dbpedia.org/ontology/>
PREFIX dcterms: <http://purl.org/dc/terms/>
PREFIX dc: <http://purl.org/dc/elements/1.1/>
PREFIX sctar: <http://scta.info/resource/>
PREFIX sctap: <http://scta.info/property/>
PREFIX sctat: <http://scta.info/text/>
PREFIX role: <http://www.loc.gov/loc.terms/relators/>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>

SELECT ?s ?p ?o
WHERE {
	?s ?p ?o
}
LIMIT 1000

	</textarea><br/>

	<input type="submit">
</div>
