<!DOCTYPE html>
<html>
<head><title>SCTA List Display</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/global.css">
<style type="text/css">

td.subjectterm {width: 300px; }
td {padding: 5px; border: 1px dotted blue;}
</style>

</head>

<body>
	<%= erb :_header %>
	<div id="body">
<h1>Information for <%= "#{@category}" %>(s) in Archive</h1>
<p>(select link for more information)<p>
<table>
	<tr>
		<td>Item Id (select link for more information)</td>
		<td>Title</td>
	</tr>

<% @result.each do |item| %>
<tr>
<% item.each do |subitem| 
 %>

		<% if subitem[0].to_s == 's'  
			url = subitem[1].to_s
			urltransform = url.sub('http://scta.info', '') %>
		<td class="subjectterm">
		<%= "<a href=\"#{urltransform}\">" + url + "</a>" %>
		</td>
		<% elsif subitem[0].to_s == 'o'  %>
		<td class="titleterm">
		<%= subitem[1] %>
		</td>
	<% end %>
	<% end %>
</tr>
<% end %>
</table>
</div>
</body>
</html>