<h1>Results for full text search of "<%= @searchstring %>"</h1>

<% @docs_array.each do |doc| 
 fullfilename = doc['id']
 filename = fullfilename.split("/").last
 commentaryid = filename.split("-").first
 itemid = filename.split("-").last.split(".").first
	%>

<%= "<li><a href='http://localhost:9393/text/#{commentaryid}/#{itemid}'>#{itemid}</a></li>" %>
<% end %>